.main__container {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(144, 144, 144);
  height: 40vh;
}

.main__container--features {
  max-width: 1000px;
  padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.container__line {
  position: absolute;
  width: 3px;
  height: 225px;
  background-color: black;
  top: 300px;
  left: 50vw;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid black;
  &__menu {
    max-width: 1000px;
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0 auto;
  }
}
.menu__element {
  margin: 0;
  padding-right: 20px;
  align-self: center;
}

.timer {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
.inputs {
  &__group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  &__input {
    width: 100px;
    height: 50px;
    padding: 10px;
    &--time {
      height: 30px;
      padding: 5px;
      margin: 5px;
      font-size: 0.6rem;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      appearance: none;
    }
  }
  &__input--long {
    width: 200px;
  }
  &__input--textarea {
    width: 100%;
    height: 100px;
    padding: 20px;
  }
}

.buttons__btn {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(141, 141, 141);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin: 10px;
  &--red {
    background-color: red;
    color: white;
  }
  &--green {
    background-color: green;
    color: white;
  }
}

.tasks {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  margin-top: 30px;
  &__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &--red {
      background-color: red;
    }
  }
}
.current__info {
  margin: 0 20px 0 0;
  display: inline-block;
}

.calendar {
  display: flex;
  justify-content: center;
  &__head {
    display: flex;
    .head__date {
      width: 7rem;
      margin: 10px;
      text-align: center;
      &--today {
        background-color: green;
        color: white;
      }
    }
  }
}

.box__date {
  width: 100px;
  text-align: center;
  margin: 10px auto 10px auto;
  border: 1px solid black;
}

.box__input {
  width: 70%;
}
